modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Telegram Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Install Bot Dependencies"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Install Compatible Dependencies"

[[workflows.workflow]]
name = "Telegram Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Install Bot Dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add python-telegram-bot==20.8 google-genai requests aiohttp"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Install Compatible Dependencies"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "uv add \"python-telegram-bot>=21.0\" google-genai requests aiohttp"

[workflows.workflow.metadata]
outputType = "console"
